/* preload */
/* -------------------------------- */
.preload-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999;
    height: 100%;
    width: 100%;
    background-color: $white;
}

.preload-container .middle {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 100;
    margin: -30px 0 0 -30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: url(./../images/logo/logo.png);
    animation: preload 1.2s linear infinite alternate;
}


/* Scroll Top
-------------------------------------------------------------- */
.button-go {
    position: fixed;
    display: block;
    width: 47px;
    height: 47px;
    line-height: 47px;
    border-radius: 6px;
    text-align: center;
    z-index: 999;
    right: 25px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
}

.button-go.show {
    right: 20px;
    opacity: 1;
    visibility: visible;
}

.button-go::before,
.button-go::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button-go::before {
    z-index: -1;
    background-color: $primary;
}

.button-go::after {
    content: "\ea3a";
    font-family: "icomoon";
    font-size: 17px;
    color: $white;
    font-weight: 600;
}

.button-go:hover {
    transform: translateY(-3px);
}

/*------------ Page Title ---------------- */
.tf-page-title {
    & .page-title {
        padding: 144px 0;
        border-radius: 15px;
        background-image: url(./../images/page/page-title.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        animation: shrink 7s infinite alternate;

        & span {
            font-size: 16px;
            font-weight: 600;
            color: $white;
            line-height: 1.5em;
            text-transform: capitalize;
        }

        & .main-title {
            font-size: 63px;
            font-weight: 700;
            color: $white;
            line-height: 1.32em;
            text-transform: capitalize;
        }
    }
}

/*------------ Blog Content ---------------- */
.format-standard {
    & .feature-post {
        position: relative;
        overflow: hidden;
        margin-bottom: 29px;

        & img {
            width: 100%;
            object-fit: cover;
            -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;
        }

        & .category {
            position: absolute;
            top: 14px;
            left: 14px;
            z-index: 1;

            & ul li a {
                padding: 8px 20px 8px 28px;
                background-color: $primary;
                color: $white;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0.135em;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                display: inline-block;

                &:hover {
                    background-color: $black;
                }
            }
        }
    }

    &:hover img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 2) 0s;
        transition: all 1s cubic-bezier(0.3, 1, 0.35, 2) 0s;
    }

    & .main-post {
        & .entry-title {
            font-size: 32px;
            line-height: 44.2px;
            color: $black;
            margin-top: 15px;
            margin-bottom: 18px;
        }

        & .entry-des {
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
            margin-right: 40px;
            color: $text-beta;
            margin-bottom: 34px;
        }
    }
}

.format-standard-details {
    margin-bottom: 46px;

    & .horizontal {
        margin-bottom: 23px;
    }

    & .entry-title {
        font-family: $font-btn-family;
        font-size: 32px;
        font-weight: 700;
        line-height: 44.2px;
        letter-spacing: 0.015em;
    }
}

.text-box-blog {
    padding: 38px 38px 33px 38px;
    background-image: url(./../images/blog/quote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 40px;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $bg-quote;
    }

    &>p {
        font-size: 24px;
        font-weight: 700;
        line-height: 43px;
        color: $white;
        position: relative;
        margin-bottom: 22px;
    }

    & span {
        line-height: 20.16px;
        color: $white;
        padding-left: 30px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 19px;
            height: 2px;
            background-color: $white;
            left: 0;
            top: 50%;
            bottom: 50%;

        }

    }

    & i {
        position: absolute;
        font-size: 30px;
        color: $primary;
        bottom: 15%;
        right: 4.8%;
    }


}

.post-wrap {
    & h3 {
        font-size: 28px;
        line-height: 56px;
        margin-bottom: 30px;
    }

    & .imgae-list {
        padding-left: 54px !important;
    }

    &>p {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: $text-beta;
    }
}

.tag-wrap {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid $border;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 32px;

    & a {
        box-shadow: 0px 4px 15px 0 $shadow-model;
        margin-top: 12px;
        font-size: 14px;
    }

    & p {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        color: $black;
        margin-right: 15px;
    }
}

.quote {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-style: italic;
    margin-top: 62px;
    margin-bottom: 37px;
}

.icon-list {
    & li {
        &:not(:last-child) {
            margin-bottom: 21px;
        }

        & i {
            color: $primary;
            font-size: 13px;
            width: 30px;
            height: 30px;
            background-color: $white;
            border-radius: 100%;
            text-align: center;
            line-height: 30px;
            box-shadow: 0px 0px 9px 0px $shadow-model;
            margin-right: 11px;
            margin-left: 7px;

            &:hover {
                background-color: $primary;
                color: $white;
            }
        }

        & p {
            font-family: $font-main-family;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.16px;
        }
    }
}

.entry:not(:last-child) {
    margin-bottom: 60.68px;

}

.entry-meta {
    & span {
        margin-right: 22px;
        position: relative;

        & i {
            color: $primary;
            margin-right: 10px;
        }

        & a {
            font-size: 15px;
            font-weight: 500;
            line-height: 18.9px;
            color: $text-beta;

            &:hover {
                color: $black;
            }
        }
    }

    & .line:not(:last-child)::after {
        position: absolute;
        content: "";
        height: 60%;
        width: 1px;
        right: -10%;
        bottom: 0;
        top: 28%;
        background-color: $text-beta;
        rotate: 22deg;
    }
}

.horizontal {
    & span {
        margin-right: 32px;
    }

    & .line:not(:last-child)::after {
        rotate: 0deg;
        width: 10px;
        height: 1px;
        bottom: 50%;
        top: 50%;
        right: -21%;
    }
}

/*------------ Comment List ---------------- */
.wrap-review {
    margin-bottom: 52px;
}

.comment-list {
    & ol {
        & li {
            &:not(:last-child) {
                margin-bottom: 93px;
            }

            & .images {
                margin-right: 39px;

                & img {
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    margin-bottom: 30px;
                }
            }

            & .content {
                & .title-item {
                    margin-bottom: 14px;

                    & h4 {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 20px;
                        margin-right: 14px;
                    }

                    & p {
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: $date-comment;
                    }
                }

                & .start-wrap {
                    margin-bottom: 16px;

                    & span {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 26.8px;
                        color: $black;

                    }

                    & .star {
                        margin-left: 26px;
                        margin-right: 17px;

                        & i {
                            font-size: 12px;
                            color: $star ;
                            margin: 0 2px;

                        }
                    }
                }
            }
        }
    }

}

/*------------Form Comment  ---------------- */
.comments {
    & .respond-comment {
        padding: 71px 47px 81px 47px;
        background-color: $bg-form-comment;

        & .comment-form {

            & .form-cm {
                position: relative;

                & i {
                    position: absolute;
                    top: 5px;
                    left: 0;
                    color: $black;
                }

                & input {
                    padding: 0px 0px 23px 27px;
                    border-radius: unset;
                    border-bottom: 1px solid $border5;
                    border-top: unset;
                    border-left: unset;
                    border-right: unset;
                    background-color: transparent;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: 0.06em;
                    font-weight: 400;
                    color: rgba(20, 33, 43, 0.8);
                    margin-bottom: 58px;
                }

                & textarea {
                    padding: 0px 0px 23px 27px;
                    border-radius: unset;
                    border-bottom: 1px solid $border5;
                    border-top: unset;
                    border-left: unset;
                    border-right: unset;
                    background-color: transparent;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 400;
                    color: rgba(20, 33, 43, 0.8);
                    height: 134px;
                    margin-bottom: 47px;
                }
            }

            .check-box {
                margin-bottom: 59px;

                & p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22.68px;
                    color: $text-beta;
                    text-transform: capitalize;
                    margin-left: 9px;

                }

            }

            .button-fr {
                padding: 20px 42px;
                border-radius: unset;
                display: inline-block;
                width: auto;
                background-color: $primary;
                color: $white;
                font-weight: 500;
                font-family: $font-main-family;
                line-height: 20.16px;

                &:hover {
                    background-color: $black;

                }
            }
        }
    }
}

/*------------ Form Register ---------------- */
.content-re-lo {
    padding: 40px;
    position: relative;

    & .btn-close {
        overflow: hidden;
        position: absolute;
        right: 42px;
        top: 36px;
        border: none;
        outline: none;
        z-index: 10 !important;
        opacity: 1;

    }

    & .title {
        font-size: 30px;
        font-weight: 700;
        color: $black;
        line-height: 45px;
        margin-bottom: 30px;
    }

    & .respond-register-form {
        & fieldset {
            margin-bottom: 20px;
        }

        & form {
            & input:focus {
                border: 1px solid $primary;
            }
        }
    }
}


/*------------ Title main ---------------- */
.heading-section {
    & .sub-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.11em;
        color: $primary;
        position: relative;
        display: inline-block;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: repeating-linear-gradient(270deg, $white 0px, $white 2px, $primary 2px, $primary 4px)
        }

    }

}

/*------------ Icon -box ---------------- */

//----v0-------//
.border-line {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;

    &:before,
    &:after {
        display: block;
        content: "";
        position: absolute;
        background: $primary;
        z-index: -1;
    }
}

.icon-box {
    background-color: $white;
    border: solid 1px $gray;
    padding: 30px 10px 37px 10px;
    text-align: center;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 17px 0px $shadow-model;

    &:before {
        top: -0.1rem;
        bottom: 100%;
        left: 50%;
        right: 50%;
        transition: bottom .2s 0s, left .2s .2s, right .2s .2s;

    }

    &:after {
        top: 100%;
        bottom: -0.1rem;
        left: 50%;
        right: 50%;
        transition: top .2s 0s, left .2s .2s, right .2s .2s;
    }

    &:hover {
        &:before {
            top: -0.1rem;
            bottom: 50%;
            left: -0.1rem;
            right: -0.1rem;
            transition: left .2s 0s, right .2s 0s, bottom .2s .2s;
        }

        &:after {
            top: 50%;
            bottom: -0.15rem;
            left: -0.1rem;
            right: -0.1rem;
            transition: left .2s 0s, right .2s 0s, top .2s .2s;
        }
    }

    & .image-box-wrap {
        height: 111px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: auto;
            height: auto;

        }
    }

    & .title-icon {
        font-size: 20px;
        font-weight: 700;
        line-height: 31px;
        color: $black-primary;
        display: inline-block;
        font-family: $font-btn-family;

    }

    & .btn-con-box {
        padding: 12px;
        background-color: $primary;
        border-radius: 100px;
        position: absolute;
        bottom: -17px;
        right: 19%;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        & i {
            color: $white;
            rotate: -30deg;
            display: inline-block;
        }
    }

    &:hover .btn-con-box {
        visibility: visible;
        opacity: 1;
        right: 9%;
    }
}

//----v0-------//

//----v1-------//
.w-722 {
    max-width: 722px;
    width: 100%;

}

.box-icon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 3px solid $primary;
    box-shadow: 0px 4px 58px 0px $shadow-model;

}

.v1-box {
    padding: 36px 10px 40px 10px;
    box-shadow: unset;

    &:hover {
        border-bottom: 1px solid $primary;
    }

    & .title-icon {
        font-size: 22px;
        color: $black5;
        display: inline-block;
    }

    & .image-box-wrap {
        height: 105px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
    }

    .btn-con-box {
        top: 25px;
        right: 19%;
        bottom: unset;
    }

    &:hover .btn-con-box {
        visibility: visible;
        opacity: 1;
        right: 9%;
        bottom: unset;
    }
}

//----v1-------//

//----v2-------//
.w-470 {
    max-width: 470px;
    width: 100%;
    background-color: $background5;
}

.box-icon-list-v2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.v2-box {
    background: transparent;
    border: solid 1px $header-top;
    padding: 20px 10px 25px 10px;

    & .title-icon {
        font-size: 20px;
        font-weight: 700;
        line-height: 31px;
        color: $white;
        display: inline-block;
        font-family: $font-btn-family;
        text-transform: capitalize;
    }
}

//----v2-------//

//----v3 box-car-------//
.box-car-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
    grid-gap: 16px;
    align-items: stretch;

    & .box-car-item {
        &:hover {
            background-color: $background7;
        }

        padding: 52px 20px 33px 20px;
        border: solid 1px $border2;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        & .image-car {
            margin-bottom: 29px;

            & img {
                -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
                transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
                transition: transform 500ms ease;
            }
        }

        &>span {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            color: $black-primary;
            display: block;
            text-transform: capitalize;
        }

        &:hover {
            & img {
                -webkit-transform: scale3d(1.05, 1.05, 1.05);
                transform: scale3d(1.05, 1.05, 1.05);
                -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 2) 0s;
                transition: all 1s cubic-bezier(0.3, 1, 0.35, 2) 0s;
            }
        }


    }
}

//----v3 box-car-------//


/*------------ Icon -box ---------------- */

/*------------ Widget blog ---------------- */
.widget-blog {
    & .feature-post {
        position: relative;
        overflow: hidden;

        & .category {
            display: inline-block;
            position: absolute;
            top: 5%;
            left: 2.1%;
            z-index: 1;

            & ul {
                & li {
                    & a {
                        padding: 11px 18px 11px 23px;
                        background-color: $white;
                        color: $black;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 22px;
                        letter-spacing: 0.135em;

                    }

                    & i {
                        margin-right: 6px;
                        color: $primary;
                    }
                }
            }
        }

        & img {
            width: 100%;
            object-fit: cover;
            -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
            transition: transform 500ms ease;

        }

    }

}

//Blog style 01
.bl-v1 {
    & .main-post {
        padding: 19px 26px 26px 30px;
        box-shadow: 0px 9px 19px 0px $shadow-box;

        & .entry-meta {
            margin-bottom: 11px;

            & .author {
                &>img {
                    width: 34px;
                    height: auto;
                    border: solid 2px $white;
                    border-radius: 100px;
                    box-shadow: 0px 4px 7px 0px $shadow;
                    margin-right: 6px;
                }
            }
        }

        & .entry-title {
            font-size: 20px;
            line-height: 34px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        & .entry-des {
            color: $text-des;
            margin-bottom: 27px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;

        }

        & .btn-read-more {
            padding: 15px 27px 11px 20px;
            background-color: $background4;

            & .more-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                letter-spacing: 0.05em;

                & i {
                    position: relative;
                    color: $primary;
                    font-size: 10px;


                    &::after {
                        position: absolute;
                        content: "";
                        width: 25px;
                        height: 25px;
                        border: 1px solid $black;
                        border-radius: 100px;
                        right: -7px;
                        top: 50%;
                        bottom: 50%;
                        transform: translateY(-50%);


                    }
                }
            }
        }
    }

    &:hover .feature-post img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
        transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
    }

    &:hover .category ul>li>a {
        background-color: $primary;
        color: $white;
        transition: all 0.5s;
    }

    &:hover .category ul>li>a>i {
        color: $white !important;
        transition: all 0.5s;
    }

    &:hover .btn-read-more {
        background-color: $primary !important;
        transition: all 0.5s;
    }

    &:hover .btn-read-more a {
        color: $white;
        transition: all 0.5s;
    }

    &:hover .btn-read-more a>i {
        color: $white !important;
        transition: all 0.5s;
    }

    &:hover .btn-read-more a>i::after {
        color: $white !important;
        border: 1px solid $white !important;
        transition: all 0.5s;
    }

}

//Blog style 01

//Blog style 02
.bl-v2 {
    &:hover .feature-post img {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
        transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
    }

    &:hover .category ul>li>a {
        background-color: $primary;
        color: $white;
        transition: all 0.5s;
    }

    &:hover .category ul>li>a>i {
        color: $white !important;
        transition: all 0.5s;
    }

    & .main-post {
        background-color: $white;
        padding: 23px 30px 30px 33px;
        box-shadow: 0px 4px 30px 0px $shadow-model;
        margin-left: 20px;
        margin-right: 27px;
        position: relative;
        z-index: 1;
        margin-top: -57px;

        .entry-meta {
            & span {
                margin-right: 8px;
                position: relative;
                display: flex;
                align-items: center;
            }

            & .author i {
                font-size: 19px;
            }

            & .comment i {
                font-size: 15px;
            }

            & i {
                margin-right: 6px;
            }
        }

        & .line {
            width: 100%;
            height: 1px;
            background-color: $line4;
            margin-top: 14px;
            margin-bottom: 9px;
        }

        & .entry-title {
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 15px;
        }

        & .btn-read-more {
            & .more-link {
                font-size: 16px;
                font-weight: 500;
                line-height: 31px;
                color: $btn-more;
                text-transform: capitalize;
                letter-spacing: 0;

                & i {
                    color: $primary;
                    margin-left: 9px;
                }

            }
        }
    }

}

//Blog style 02

/*------------ Widget blog ---------------- */

/*------------ Widget Counter ---------------- */
.counter-wrap {
    padding: 45px 59px;
    background-color: $white;
    box-shadow: 0px 4px 24px 0px $shadow-model;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 27px;

}

//v1
.counter-v1 {
    position: relative;
    overflow: hidden;

    &:after {
        border-bottom: 10px solid transparent;
        border-top: 11px solid transparent;
        border-right: 6px solid $primary;
        width: 0;
        height: 117px;
        position: absolute;
        content: '';
        right: -20px;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    &:hover::after {
        opacity: 1;
        visibility: visible;
        right: 0;
    }

    border: 1px solid rgba(65, 74, 79, 0.11);
    padding: 30px 30px 40px 30px;

    & .number-counter {
        font-size: 34px;
        font-weight: 700;
        line-height: 27px;
        color: $black-primary;
        margin-bottom: 18px;
    }

    & svg {
        margin-bottom: 22px;
        height: 74px;
        transition: all 0.8s ease;
    }

    &:hover svg {
        transform: rotateY(360deg);
    }

    & p {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: $black-primary;
        text-transform: capitalize;
    }


}

//v1

//v2
.counter-v2 {
    &:hover {
        background-color: #F2F5FB;
    }

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 5px 28px 37px;

    & .number-counter {
        font-size: 70px;
        font-weight: 600;
        line-height: 64px;
        color: $primary;
        margin-right: 20px;
    }

    & p {
        font-size: 16px;
        font-weight: 600;
        line-height: 20.16px;
        color: $black;
    }
}

//v2

//v3
.counter-v3 {
    & svg {
        margin-bottom: 26px;
        height: 65px;
        transition: all 0.8s ease;

        &:hover {
            transform: rotateY(360deg);
        }
    }

    & .number-counter {
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
        color: $counter;
        margin-bottom: 15px;
        text-transform: uppercase;

    }

    & p {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        color: $counter;
        text-transform: capitalize;
    }

}

//v3

/*------------ Widget Counter ---------------- */

/*------------ Widget Team ---------------- */
.tf-widget-team {
    & .team-image {
        position: relative;
        margin-bottom: 21px;

        & .btn-team {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 38px;
            font-size: 28px;
            background-color: $white;
            border-radius: 100%;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            & svg {
                font-size: 28px;
                display: inline-block;
            }
        }
    }

    &:hover .btn-team {
        visibility: visible;
        opacity: 0.75;
    }

    & h5 {
        font-size: 19px;
        font-weight: 600;
        line-height: 30px;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    & span {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        text-transform: capitalize;
        margin-bottom: 17px;
        display: inline-block
    }

    & .social-team {
        @include flex-center;

        & li {
            & a {
                margin: 0px 12px;

                & {
                    color: $icon;

                    &:hover {
                        color: $primary;
                    }
                }

            }
        }
    }
}

/*------------ Widget Team ---------------- */